{% extends 'base.html' %}
{% load static %}
{% block content %}

<div style="height: 80px;"></div>

<section id='portfolio' class="wow fadeInUp section-bg">
    <div style="margin-left: 30%; margin-right: 30%;" >
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p}}
                <div style="text-align: center;"><input  class="btn btn-info" type="submit" value="Submit"></div>
            </form>
        </div>
    </div>
</section>

{% endblock %}