{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="height: 80px;"></div>
<main id="main">
    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Services</h3>
          <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
        </header>

        <div class="row">

            <p>{{ post.Item_Name }}</p><br/>
            <p>{{ post.Founder }}</p><br/>
            <p>{{ post.Description }}</p><br/>

            {% if post.Image %}
                <img src="{{ post.Image.url }}">
            {% endif %}

        </div>
        <br/><br/>
        <button class='btn btn-danger'><a href="{% url 'DeleteItem' post.pk %}" style="color:white;">Delete</a></button>
      </div>
    </section> 
    <!-- #services-->

  </main>

  {% endblock %}